<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>CDS Hooks Client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"/>
</head>
<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" style="background-color: lightcyan;" id="discovery" data-toggle="tab" th:href="@{/discovery}">Discovery</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="hooks" data-toggle="tab" th:href="@{/hooks}">PDDI Hooks</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="discovery">
            <form id="discoveryForm" action="#" th:action="@{/discovery}" th:object="${discovery}" method="post">
                <div class="container-fluid">
                    <p><button type="submit" class="btn btn-primary">リクエスト実行</button>GET <label th:text="${url}" /></p>
                    <div class="row">
                        <div class="col-12">
                            <p>レスポンス</p>
                            <textarea id="responseBody" rows="15" cols="40" class="form-control" readonly th:field="*{responseBody}" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
